body {
    margin: 0 auto;
}
main {
    background-color: #F9F6FD;
    padding: 20px 40px;
}
footer {
    padding: 20px;
    background-color: #F9F6FD;
}
.active {
    background-color: #371C63;
}
nav {
    display: flex;
    flex: row no-wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #A18CD1;
}
nav a {
    color: #F9F6FD;
    background-color: #4B2E83;
    font-family: 'Gagalin', cursive;
    text-decoration: none;
    font-size: 2.9rem;
    padding: 20px 44px;
}
nav a:hover {
    background-color: #6B4FB4;
}
h1 {
    text-align: center;
    font-size: 8rem;
    font-family: 'Antic', sans-serif;
    text-shadow: 2px 2px 4px black;
    color: white;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.6rem;
}